<!DOCTYPE html>
<html lang="en">        
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Familia</title>
</head>
<body>
    <h1>Bienvenid@s a mi agenda familiar</h1>
    <p>Hola {{nombre}} {{apellido}}</p>
    <p>fecha {{fecha}}</p>
    <img
    src = "https://images.pexels.com/photos/7018221/pexels-photo-7018221.jpeg?cs=srgb&dl=pexels-samuel-traxler-7018221.jpg&fm=jpg&_gl=1*rgi25t*_ga*ODQ1NTQxMzUwLjE2Njc3NDA0MTg.*_ga_8JE65Q40S6*MTY2Nzc0MzgzNC4yLjAuMTY2Nzc0MzgzNC4wLjAuMA.."
    alt = "Image"
    width = "500px"
    >
    <script>
        alert("Hola a todos")
    </script>
</body>
</html>